@model OnlineExamProject_UsingCookies.Models.QuestionModel
@{
    Layout = "_Timer";
}

<h2>Question 3</h2>
<hr />

<p>@Model.QuestionText</p>
<form asp-action="Question3" asp-controller="Quiz">
    @foreach (var opt in Model.Options)
    {
        <div>
            <input type="radio" asp-for="SelectedOption" value="@opt" />@opt
        </div>
    }
    <button type="submit" class="btn btn-primary">Next</button>

</form>


